<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css"/>

    <title>Membership</title>
</head>
<body>
   <nav class="navbar">
    <div class="logo">SacredMinistry</div>
    <ul class="nav-links">
        <li><a href="../index.html">Home</a></li>
        <li><a href="../templates/about.html">About</a></li>
        <li><a href="../templates/contact.html">Contact</a></li>
        <li><a href="../templates/calendar.html">Calendar</a></li>
        <li><a href="../templates/sacrament.html">Sacraments</a></li>
        <li><a href="../templates/philosophy.html">Philosophy</a></li>
        <li><a href="../templates/membership.html">Membership</a></li>
    </ul>
    <div class="hamburger">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </div>
</nav>


  <!--HAMBURGER Button-->
  <script src="../js/script.js"></script>
</body>
</html>